
body {
	background: #333333;	
	font-family: Verdana;
}

.title {
	padding: 20px;
	background: rgb(204, 204, 204);	
	color: rgb(50, 44, 44);
}

.menu {
	background: rgb(176,13,14);
	color: rgb(255,255,255);
}

.menu table {
	margin: auto;
}

.menu td {	
	font-weight: bold;
	padding: 10px 30px 10px 30px;
}

.title h2 { 
	margin: 5px 10px 20px 5px;
}

h2 { 
	margin-top: 40px;
}

h1 { 
	margin-top: 40px;
}

h3 { 
	margin-top: 30px;
}


.main {
	margin: auto;
	background: #FFFFFF;
	width: 900px;
}

.content {
	padding: 30px;
}

.content h1 {
	margin: auto;
	color: rgb(176,13,14);
	font-size: 16pt;
}

.content h2 {
	color: rgb(176,13,14);
	font-size: 14pt;
}

.content h3 {
	color: rgb(88,13,14);
	font-size: 12pt;
}